body{
    background-color:rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 80px;
    background-color: #101010;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 105px;
    height: 70px;
    margin-right:50px ;
}
.list{
    width: 900px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content:space-around;
    list-style-type: none;
    font-family: Roboto;
    font-size: 24px;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
}
@font-face {
    font-family:Russo;
    src:url("../fonts/RussoOne-Regular.ttf");
}
@font-face {
    font-family:RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family:Roboto;
    src: url("../fonts/Roboto.ttf");
}
.block1{
    background-image: url("../images/background.png");
    width: 1040px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.txt1{
    width: 460px;
    font-family:RobotoBold;
    font-size: 60px;
    color:#FFFFFF;
    text-align: center;
    margin-left: 70px;
}
.txt2{
    width: 460px;
    font-family: Roboto;
    font-size:34px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 70px;
}
.block2{
    width: 1040px;
    height: 1167px;
    display: grid;
    grid-template-columns: 112px 386px 135px 407px;
    grid-template-rows: 287px 135px 353px 392px;
}
.txt3{
    font-family: Roboto;
    font-size: 24px;
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;
}
.img1{
    height: 422px;
    width: 633px;
    background-image: url("../images/img1.png");
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 3;
}
.img2{
    height: 287px;
    width: 407px;
    background-image: url("../images/img2.png");
    grid-column-start: 4;
}
.img3{
    display: flex;
    width:112px;
    height: 745px;
    background-color: #101010;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start:3;
    grid-row-end: 5;
}
.txt4{
    font-family: Russo;
    font-size: 32px;
    color: #FFFFFF;
}
.img4{
    background-image: url("../images/img4.png");
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-areas: 600px;
}
.img5{
    background-image: url("../images/img5.png");
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.img6{
    background-image: url("../images/img6.png");
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.img7{
    background-image: url("../images/img7.png");
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.block3{
    width: 1040px;
    height: 1300px;
}
.item1{
    width: 1040px;
    height: 600px;
    background-image: url("../images/background2.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right1{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt5{
    font-family: RobotoBold;
    font-size: 48px;
    color: #FFFFFF;
}
.txt6{
    font-family: Roboto;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}
.item2{
    width: 1040px;
    height: 600px;
    background-image: url("../images/background3.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left2{
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item3{
    width: 1040px;
    height: 100px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 196px;
    height: 63px;
    background-color: #FFFFFF;
    color: #262626;
    font-family: RobotoBold;
    font-size: 28px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-style: none;
}
.block4{
    width: 1040px;
    height: 550px;
    background-image: url("../images/background4.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt7{
    font-family: Roboto;
    font-size: 48px;
    color:#BABABA;
}
footer{
    height:300px;
    width: 100%;
    background-color:#000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.txt8{
    font-family:Russo;
    font-size: 28px;
    color: #FFFFFF;
}
.txt9{
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
}
.list2{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    list-style-type: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 40px;
}